@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: black !important;
 color: white !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
